/* 
.budget-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
    padding: 16px;
  }
  

  .budget-item {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .budget-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  }
  

  .budget-category {
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 8px;
  }
  

  .budget-image {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 8px;
  }
  

  .budget-value {
    font-size: 1rem;
    color: #444;
    margin-bottom: 4px;
  }
  

  h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 16px;
    font-weight: 600;
  }
 
  
  p {
    text-align: center;
    margin: 20px 0;
    color: #aaa;
  }
  

  .limit-slider {
    width: 70px;
    margin: 10px 0;
  }


.page-container {
  display: flex;
  flex-direction: column;
  gap: 20px;  
  padding: 20px;
}


.top-section {
  width: 100%;
  margin-bottom: 30px; 
  border-bottom: 1px solid #ccc;
  padding-bottom:10px;
}


.bottom-section {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;  
  gap: 40px;  
}


.left-section {
  flex: 1;  
  min-width: 200px; 
}


.right-section {
  flex: 1;  
  min-width: 200px;  
}    */